.navbar a{
    float:left;
    display:block;
    text-align:center ;
    padding: 14px 20px;
    text-decoration: none;
    block-size: 100px;
    font-size: 50px;
}
.navbar{
    background-color: rgb(240, 235, 235);
    overflow: auto;
    text-align: center;
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
} 

.size{
    width:0.3%;
    height:5%;
}

body{
    background-color: rgb(222, 239, 239);
} 

h4{
    text-align: center;
    font-size: 1000px;
}